.table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  font-size: 0.9em;

  &-header tr {
    background-color: $success;
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }

  &-body tr {
    border-bottom: 1px solid #dddddd;
  }

  &-body tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  &-body tr:last-of-type {
    border-bottom: 2px solid $success;
  }

  &-body tr.active-row {
    color: $success;
    font-weight: bold;
  }
}