.input-text {
  font-size: 1rem;
  display: block;
  padding: .375rem .75rem;
  border: 1px solid $success;
  border-radius: .25rem;

  &:focus {
    border: 1px solid lighten($success, 20%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(68, 155, 143, 0.25);
  }
}